version: '3.8'

services:
  # Backend
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend_api
    environment:
      SAVED_MODEL_PATH: "/app/Model/Saved/dogxcat.pth"
      SERVER_HOST: 0.0.0.0
      SERVER_PORT: 443
    ports:
      - "443:443"
    restart: unless-stopped
    network_mode: "host"

  # Frontend
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        - VITE_API_URL=localhost
        - VITE_API_PORT=443
    container_name: frontend_api
    ports:
      - "80:80"
    restart: unless-stopped

volumes:
  backend_data:
    driver: local
  backend_logs:
    driver: local