# Versões compatíveis com Python 3.11+ (sem distutils)

# PyTorch CPU (versões mais recentes)
--index-url https://download.pytorch.org/whl/cpu
torch
torchvision
torchaudio

# FastAPI e dependências
python-dotenv

fastapi[standard]

opencv-python